<h1 class="text-danger text-center mt-5">Eat-A-Burger!</h1>

<div class="text-center">
<img src="burger.png" alt="burger" style="height: 250px; width:300px;">

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
        <p class="text-danger font-weight-bold" id="readyToEat">
          {{id}}. {{name}}

          <button data-id="{{id}}" value="1" class="devourBurger">Devour it!</button>
        </p>
      </li>
    {{/unless}}  
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        <p class="text-muted" id="devoured">
          {{id}}. {{name}}
        </p>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2 class="text-danger">Make a burger!</h2>
<form class="create-form">
  <div class="form-group">
    <input type="text" name="burger" id="burgername">
    <button type="submit">Make it!</button>
  </div>
</form>

</div>